/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*---------- S e c c i ó n    M e n u ----------*/
html{
    scroll-behavior: smooth;
}

.menu__div{
    display: flex;
    justify-content: space-between;
}

.menu__header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu__div nav{
    display: flex;
    align-items: center;
    gap: 0 1vw;
    padding-left: 20px;
}

.menu__list{
    display: flex;
    gap: 0 1vw;
    padding-left: 0;
}

.menu__list__item{
    white-space: nowrap;
}

.menu__list__item:nth-child(6){
    display: none;
}

/*---------- S e c c i ó n    T i t l e ----------*/
/*
section.title{
    background-image: url(assets/background_dev.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
*/

.title__div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px 0;
    gap: 30px;
}

.title__profile{
    max-width: 268px;
    width: 25vw;
}

.title__bio{
    font-size: 52px;
    font-weight: 700;
    line-height: 61.05px;
}

.title__subsection{
    font-size: 22px;
    font-weight: 400;
    line-height: 25.83px;
}

.title__network{
    padding: 0;
    display: flex;
    gap: 30px;
}

.title__network__item a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.title__network__item img{
    width: 12px;
}

/*---------- S e c c i ó n    A b o u t ----------*/
section.about{
    background-color: #EAF2FD;
}

.about__container{
    padding: 30px 0;
}

.about__texto{
    max-width: 751px;
}

/*---------- S e c c i ó n    S k i l l s    &    H o b b i e s ----------*/
.skills{
    padding-top: 30px;
}

.hobbies{
    padding-bottom: 60px;
    background: linear-gradient(to bottom, transparent 70%, var(--cor-de-fundo), #ffffff);
}

.skills--hobbies{
    border-radius: 10px;
    /*border-style: solid;
    border-width: 2px;
    border-color: rgba(42, 122, 228, 0.2);*/
    border: 2px solid rgba(42, 122, 228, 0.2);
    margin: 0 5%;
    padding: 20px 0 50px 0;
}

.skills__div{
    border-bottom-width: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.hobbies__div{
    border-top-width: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.iconos--div{
    display: flex;
    gap: 0 10px;
    justify-content: space-evenly;
}

.icono--comun{
    background-color: #ffffff;
    width: 155px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono--comun ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.css__icon, .java__icon{
    width: 38px;
}

.mysql__icon{
    width: 65px;
}

.git__icon{
    width: 50px;
}

.javascript__icon, .book__icon{
    width: 33px;
}

.html__icon{
    width: 31px;
}

.voleyball__icon{
    width: 34px;
}

.movie__icon, .dumbbell__icon, .camera__icon{
    width: 40px;
}

.music__icon{
    width: 35px;
}


.skills__name, .hobbies__name{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

/*---------- E x p e r i e n c i a    A c a d é m i c a ----------*/
section.academic{
    /* background-color: #EAF2FD; */
    padding: 60px 0;
    background: #ffffff linear-gradient(to bottom, transparent 70%, #ffffff, var(--cor-de-fundo));
}

.academic__courses{
    display: flex;
    justify-content: space-evenly;
    gap: 0 30px;
    align-items: flex-start;
}

.academic__courses__box{
    width: 254px;
}

.academic__courses__list{
    padding: 0;
}

#img__li{
    height: 132.400px;
    display: flex;
    align-items: center;
}

.ulp__img{
    width: 200px;
}

#img__li__dos{
    display: flex;
    align-items: center;
    height: 132.400px;
}

.utn__img{
    width: 254px;
}

#img__li__tres{
    height: 132.400px;
    display: flex;
    align-items: center;
}

.alura__img{
    width: 190px;
}

.academic__courses__item__img{
    /*background-color: #ffffff;
    width: 368px;
    height: 286px;
    display: flex;
    align-items: center;
    justify-content: center;*/
}

/*---------- E x p e r i e n c i a    P r o f e s i o n a l ----------*/
section.experience{
    padding: 60px 0;
}

.experience__section__title{
    padding-bottom: 10px;
}

.estructura__experience{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.experience__box{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.experience--dos{
    flex-direction: row-reverse;
}

.experience__img{
    width: 60%;
    max-width: 756px;
    max-height: 406px;
}

.experience__description{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.experience--boton{
    white-space: nowrap;
    width: 116px;
    height: 51px;
    border: solid 1px #2A7AE4;
    border-radius: 1px;
    background-color: var(--cor-de-fundo);

    color: #2A7AE4;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}

.experience__botao--demo{
    width: 105px;
    background-color: #2A7AE4;
    border: none;

    color: var(--cor-de-fundo);
}

/*---------- C o n t a c t o ----------*/
section.formcontato{
    background-color: #EAF2FD;
    padding: 100px 0;
}

.formcontato__contacto{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.formcontato--esquerda{
    max-width: 464px;
    width: auto;
}

.formcontato__img{
    margin-top: 26.560px;
    width: 100%;
    height: 594px;
}

.formcontato__text{
    /*width: 656px;*/
    width: 70%;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formcontacto--campo{
    width: auto;
    height: 51px;
    border-radius: 4px;
    border: none;
    padding-left: 16px;

    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.formcontato__textarea{
    height: 133px;
    padding-top: 20px;
    resize: none;
}

.formcontacto--campo:focus{
    outline: none;
}

.formcontato__botao{
    width: 144px;
    height: 51px;
    background-color: #2A7AE4;
    border: none;
    border-radius: 1px;

    color: var(--cor-de-fundo);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}


/*---------- F o o t e e r ----------*/
section.footer{
   padding: 30px 0;
}

.footer__rodape{
    text-align: center;
}

.footer__rodape p{
    margin: 0;
}

/*----- Estilos comunes a varios elementos -----*/
body{
    color: #464646;
}

.estructura--comun, .titulo--bloque{
    margin: 0 5%;
}

.titulo--bloque{
    text-align: center;
    margin-bottom: 20px;
}

.titulo--bloque, .about__title, .formcontato__title{
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;    
}

.academic__courses__item__title, .experience__title{
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;    
}

.academic__courses__item__subtitle, .experience__text, .formcontato__subtext,
.about__paragraph, .menu__list__item a, .menu__list__item__contato a, .menu__title{
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;    
}

.menu__list__item__contato a, .menu__title{
    font-weight: 700;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width: 768px) {
    
/* Menú */
.menu__list{
    display: none;
}

/*title*/
.title__container{
    min-width: 190px;
    width: auto;
}

.title__profile{
    /*width: 146px;*/
    width: auto;
    min-width: 96px;
}

.title__subsection{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}

.title__network{
    gap: 5%;
}

.title__network__item a{
    gap: 5px;
}

/*Skills & Hobbies*/
.iconos--div{
    flex-wrap: wrap;
    /*gap: 35px 10px;*/
    gap: 2.5vw 10px;
}

/*Formación Académica*/
.academic__courses{
    gap: 4%;
}

#img__li{
    height: 17.2vw;
}

#img__li__dos{
    height: 17.2vw;
}


#img__li__tres{
    height: 17.2vw;
}

.academic__courses__item__img img{
    width: 23.5vw;
    min-width: 100px;
}

#img__li .ulp__img{
    width: 24.5vw;
}

#img__li__dos .utn__img{
    width: 31vw;
}

/*Experiencia Profesional*/
.experience__box{
    flex-direction: column;
    align-items: flex-start;
}

.experience__img{
    width: 100%;
}

.experience--boton{
    width: 108px;
    height: 40px;

    font-size: 14px;
    font-weight: 600;
    line-height: 16.44px;
}

.experience__botao--demo{
    width: 96px;
}

/* Contacto */
.formcontato--esquerda{
    display: none;
}

.formcontato__text{
    width: 100%;
}

.formcontato__botao{
    width: 133px;
    height: 40px;

    font-size: 14px;
    font-weight: 600;
    line-height: 16.44px;
}

/*----- Estilos comunes a varios elementos -----*/
.title__bio, .about__title, .titulo--bloque, .formcontato__title{
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}

.experience__title, .academic__courses__item__title h4{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

.experience__text, .academic__courses__item__subtitle p, .about__paragraph{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.44px;
}

}

/*Mobile*/
@media (max-width: 425px) {
body{
}

/*Menu*/
.menu__list__item__contato a{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
    text-align: center;
}

/*
.menu__div{
    flex-direction: column;
    align-items: center;
 }
*/

.menu__div nav{
    padding-left: 0;
}

/*Titulo*/
.title__div{
    flex-direction: column;
    /* align-items: flex-start; */
}

.title__profile{
    width: 96px;
}

.title__bio{
    margin: 0;
}

.title__network{
    gap: 10px;
    flex-wrap: wrap;
}

.title__network__item a{
    font-size: 14px;
    font-weight: 600;
    line-height: 16.44px;
}

.title__network__item img{
    width: 9px;
}

/*Sección sobre mi*/
.about__container{
    padding-top: 8px;
}

/*Skills & Hobbies*/
section.hobbies{
    padding-bottom: 25px;
}

.iconos--div{
    /*justify-content: center;*/
    gap: 10px;

    /*gap: 10px 30px;*/
}

.icono--comun{
    width: 92px;
    height: 82px;

    flex-grow: 1;
}
 
/*Formación Académica*/
section.academic{
    padding: 30px 0;
}

.academic__courses{
    flex-wrap: wrap;
    gap: 10px;
}

.academic__courses__box__secundario{
    width: 192px;
    margin: 0 auto;
}

.academic__courses__item__img img{
    width: 75.5%;
    min-width: 192px;
}

/*
#img__li__dos .utn__img{
    width: 50%;
    min-width: 10px;
}
*/

/*Experiencia Profesional*/
section.experience{
    padding: 30px 0;
}

 /*Contacto*/
section.formcontato{
    padding: 35px 0;
}

/*Footer*/

}